{% extends 'layouts/base-presentation.html' %}

{% block title %} Presentation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}

<section class="workers-table py-5">
  <div class="container">
    <h2 class="text-left mb-4 mt-6" style="color: #ce0f9c;">Project Type List</h2>
    {% if project_type_list %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project Type</th>
            <th>Number of projects</th>
          </tr>
        </thead>
        <tbody>
            {% for project_type in project_type_list %}
                <tr onclick="window.location.href='{% url 'management:project-type-detail' project_type.id %}'" style="cursor: pointer;">
                  <td>{{ project_type.name }}</td>
                  <td>{{ project_type.project_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>There are no project types yet</p>
    {% endif %}
  </div>
</section>

<style>
  table {
  width: 100%;
  border-collapse: collapse;
}


tbody tr:hover {
  background-color: #f1f1f1;
}

</style>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/plugins/countup.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/rellax.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/tilt.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
  <script type="text/javascript">
    if (document.getElementById('state1')) {
      const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('state2')) {
      const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('state3')) {
      const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
  </script>

{% endblock javascripts %}
